<section id="aboutUs">
    <div class="aboutUsTop">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="aboutUsTopText">
                        <h2>Dünyanı ziqzaqla!</h2>
                        <p>Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took
                        a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also 
                        the leap into electronic typesetting, remaining essentially
                        unchanged. It was popularised in the 1960s with the 
                        release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with</p>
                        <button>TURLARA BAX</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 aboutUsTopImgContainer">
                    <div class="aboutUsTopImg">
                        <img src="assets/img/zigzagWorld.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutUsBody">
        <div class="container">
            <div class="aboutUsBodyTextContainer">
                <div class="aboutUsBodyText">
                    <h2>Biz kimik?</h2>
                    <p>Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was popularised
                        in the 1960s with the release of Letraset sheets containing
                        Lorem Ipsum passages, and more recently with</p>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutUsBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="aboutUsBottomImg">
                        <img src="assets/img/mobileImg.svg">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                    <div class="aboutUsBottomText">
                        <h2>Mobil tətbiqlə səyahət barmaqlarınızın ucunda!</h2>
                        <p>Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into 
                            electronic typesetting, remaining essentially unchanged. 
                            It was popularised in the 1960s with the release of Letraset
                            sheets containing Lorem Ipsum passages, and more recently with</p>
                        <div class="aboutUsBottomButton">
                            <button><img src="assets/img/button1.png"></button>
                            <button><img src="assets/img/button2.png"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>