<div class="container-fluid mt-5">

    <div class="col-11 contactContainer row">

        <p class="my-4">

            <fa-icon [icon]="['fas','map-marker-alt']" class="mr-3"></fa-icon>
            <span class="contactTitle">Bakı, Azərbaycan</span>

        </p>

        <p class="my-4">

            <fa-icon [icon]="['fas','phone-alt']" class="mr-3"></fa-icon>
            <span class="contactTitle">021245474577</span>

        </p>

        <p class="my-4">

            <fa-icon [icon]="['fas','envelope']" class="mr-3"></fa-icon>
            <span class="contactTitle">info@morpho.az</span>

        </p>

    </div>

    <div class="col-12 feedbackContainer">

        <div class="row">

            <div class="col-12 col-lg-6 feedbackLeft">
                
                <p class="my-4 col-12">Bizimlə Əlaqə Saxlayın</p>

                <p class="col-12 col-lg-6">
                    <span>Ad</span> 
                    <br>
                    <input type="text" class="col-12 col-lg-11 py-2 mt-2" [class.inputError]="hasError.name" name="name" [(ngModel)]="message.name">

                    <br>
                    <span class="col-8 validationError mt-0 mb-0 px-0" [class.showError]="hasError.name">{{validationMessages.name}}</span> 
                </p>

                <p class="col-12 col-lg-6">
                    <span >Soyad</span> 
                    <br>
                    <input type="text" class="col-12 col-lg-11 py-2 mt-2"  [class.inputError]="hasError.surname" name="surname" [(ngModel)]="message.surname">

                    <br>

                    <span class="col-8 validationError mt-0 mb-0 px-0" [class.showError]="hasError.surname">{{validationMessages.surname}}</span>  
                </p>

                <p class="col-12 col-lg-6">
                    <span >Email</span> 
                    <br>
                    <input type="text" class="col-12 col-lg-11 py-2 mt-2" [class.inputError]="hasError.email" name="email" [(ngModel)]="message.email">

                    <br>
                    <span class="col-8 validationError mt-0 mb-0 px-0" [class.showError]="hasError.email">{{validationMessages.email}}</span>  
                </p>

                <p class="col-12 col-lg-6">
                    <span >Əlaqə nömrəsi
                    </span> 
                    <br>
                    <input type="text" class="col-12 col-lg-11 py-2 mt-2" [class.inputError]="hasError.phoneNumber" name="number" [(ngModel)]="message.number">

                    <br>
                    <span class="col-8 validationError mt-0 mb-0 px-0" [class.showError]="hasError.phoneNumber">{{validationMessages.phoneNumber}}</span>  
                </p>

                <p class="col-12">
                    <span >Fikirləriniz:
                    </span> 
                    <br>
                    <textarea class="col-12 py-2 mt-2" [class.inputError]="hasError.description"  name="text" [(ngModel)]="message.description"></textarea>

                    <br>
                    <span class="col-8 validationError mt-0 mb-0 px-0" [class.showError]="hasError.description">{{validationMessages.description}}</span>  
                </p>

                <p class="col-12">
                    <button class="col-12 col-lg-3 py-2" (click)="sendMessage()">Göndər</button>
                </p>


            </div>

            <div class="col-12 col-lg-6 feedbackRight">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            
            </div>

        </div>
    </div>

</div>