<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Start Bootstrap </div>
      <div class="list-group list-group-flush">
        <a  class="list-group-item list-group-item-action bg-light">Vendorlar</a>
        <a  class="list-group-item list-group-item-action bg-light">Userlər</a>
        <a  class="list-group-item list-group-item-action bg-light">Reviewlər</a>
        <a  class="list-group-item list-group-item-action bg-light">Contactlar</a>
        <a  class="list-group-item list-group-item-action bg-light">ProgramTypelər</a>
        <a  class="list-group-item list-group-item-action bg-light">Transferlər</a>
        <a  class="list-group-item list-group-item-action bg-light">Tourlar</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>

            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>

        </tbody>
      </table>
      
     




    <!-- /#page-content-wrapper -->

  </div>