<!-- Transfer Page Design -->
<section id="transferInfo" class="mt-5">
    <div class="container">
        <div class="tranferInfoTop">
            <h1>Transfer sifarişi</h1>
        </div>
        <div class="transferInfoBody">
            <div class="transferSteps">
                <div class="transferStepsWords">
                    <div class="transferStepsWord">
                        <div class="transferStepsWordContainer">
                            <span>Transfer məlumatları</span>
                        </div>
                    </div>
                    <div class="transferStepsWord">
                        <div class="transferStepsWordContainer">
                            <span>Şəxsi məlumatlar</span>
                        </div>
                    </div>
                    <div class="transferStepsWord">
                        <div class="transferStepsWordContainer">
                            <span>Sifarişin təsdiqi</span>
                        </div>
                    </div>
                </div>  
                <div class="transferStepsİcons">
                    <div class="transferStepsİcon">
                        <div class="transferStepsİconContainer">
                            <img src="assets/img/transfer.png">
                        </div>
                    </div>
                    <p class="grey" [ngClass] = "stepTwo ? 'blue' : 'grey'"></p>
                    <p class="grey" [ngClass] = "stepTwo ? 'blue' : 'grey'"></p>
                    <p class="grey" [ngClass] = "stepTwo ? 'blue' : 'grey'"></p>
                    <p class="grey mobileNoneTwo" [ngClass] = "stepTwo ? 'blue' : 'grey'"></p>
                    <p class="grey mobileNone" [ngClass] = "stepTwo ? 'blue' : 'grey'"></p>
                    <div class="transferStepsİcon">
                        <div class="transferStepsİconContainer grey" [ngClass] = "stepTwo ? 'blue' : 'grey'">
                            <img src="assets/img/person.png">
                        </div>
                    </div>
                    <p class="grey" [ngClass] = "stepThree ? 'blue' : 'grey'"></p>
                    <p class="grey" [ngClass] = "stepThree ? 'blue' : 'grey'"></p>
                    <p class="grey" [ngClass] = "stepThree ? 'blue' : 'grey'"></p>
                    <p class="grey mobileNoneTwo" [ngClass] = "stepThree ? 'blue' : 'grey'"></p>
                    <p class="grey mobileNone" [ngClass] = "stepThree ? 'blue' : 'grey'"></p>
                    <div class="transferStepsİcon">
                        <div class="transferStepsİconContainer grey" [ngClass] = "stepThree ? 'blue' : 'grey'">
                            <img src="assets/img/done.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="transferCarousel col-lg-8 col-md-12 mx-0 px-0">
                <div class="transferCarouselStage col-12 px-0 mx-0" #carousel>
                    
                    <div class="transferCarouselItem col-12 stepOne">
                        <div class="greyBlock col-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="transferInfoInput">
                                            <input type="text" placeholder="Başlanğıc nöqtəsi" name="pickupLocation" [(ngModel)]="transferData.pickupLocation">
                                            <p [class.showError] = "hasValidationError.pickupLocation">{{validationMessages.pickupLocation}}</p>
                                        </div>
                                        <div class="transferInfoInput">
                                            <input type="text" placeholder="İstiqamət nöqtəsi" name="destination" [(ngModel)]="transferData.destination">
                                            <p [class.showError] = "hasValidationError.destination">{{validationMessages.destination}}</p>
                                        </div>
                                        <div class="transferInfoInput">
                                            <input type="number" placeholder="Uçuş kodu" name="flightCode" [(ngModel)]="transferData.flightCode">
                                        </div>
                                        <div class="transferInfoInput">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 endInputLeft">
                                                    <span>Baqaj çəkisi</span>
                                                    <input type="number" placeholder="Baqaj çəkisi" name="luggageWeight" [(ngModel)]="transferData.luggageWeight">
                                                    <p [class.showError] = "hasValidationError.luggageWeight">{{validationMessages.luggageWeight}}</p>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 endInputRight">
                                                    <span>Sərnişinlərin sayı</span>
                                                    <input type="number" placeholder="Sərnişin sayı" name="passengerNumber" [(ngModel)]="transferData.passengerNumber">
                                                    <p [class.showError] = "hasValidationError.passengerNumber">{{validationMessages.passengerNumber}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="transferInfoInput">
                                        
                                            
                                            <input [owlDateTime]="dt1"  [owlDateTimeTrigger]="dt1" type="text" placeholder="Tarix və saat" name="pickUpTime" [(ngModel)]="transferData.pickUpTime">
                                            <owl-date-time #dt1 ></owl-date-time>
                                            <p [class.showError] = "hasValidationError.pickUpTime">{{validationMessages.pickUpTime}}</p>
                                        </div>
                                        <div class="transferInfoTransport">
                                            <div class="transferInfoTransportSpan">
                                                <span>Nəqliyyat növü:</span>
                                            </div>
                                            <div class="transferInfoTransportIcons">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 transferInfoTransportIconContainer">
                                                        <div class="transferInfoTransportIcon" (click)="changeIcon('ekonom' , 5)">
                                                            <div class="transferInfoTransportIconIMG">
                                                                <img src="{{currentIcon == 'ekonom' ? 'assets/img/ekonomSedanBlue.png' : 'assets/img/ekonomSedan.png'}}">
                                                            </div>
                                                            <div class="transferInfoTransportIconWORD" [class.selectedIcon]="currentIcon == 'ekonom'">
                                                                <span>Ekonom Sedan</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 transferInfoTransportIconContainer">
                                                        <div class="transferInfoTransportIcon" (click)="changeIcon('biznes' , 6)">
                                                            <div class="transferInfoTransportIconIMG">
                                                                <img src="{{currentIcon == 'biznes' ? 'assets/img/biznesSedanBlue.png' : 'assets/img/biznesSedan.png'}}">
                                                            </div>
                                                            <div class="transferInfoTransportIconWORD" [class.selectedIcon]="currentIcon == 'biznes'">
                                                                <span>Biznes Sedan</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 transferInfoTransportIconContainer">
                                                        <div class="transferInfoTransportIcon" (click)="changeIcon('miniBus' , 7)">
                                                            <div class="transferInfoTransportIconIMG">
                                                                <img src="{{currentIcon == 'miniBus' ? 'assets/img/miniBusBlue.png' : 'assets/img/miniBus.png'}}">
                                                            </div>
                                                            <div class="transferInfoTransportIconWORD" [class.selectedIcon]="currentIcon == 'miniBus'">
                                                                <span>Minibus</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="transferInfoBottom">
                            <button (click)="nextStep('right',carousel);becomeBlue()">DAVAM ET</button>
                        </div>
                    </div>
    
                    <div class="transferCarouselItem col-12 stepTwo">
                        <div class="greyBlock col-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="transferInfoInput">
                                            <input type="text" placeholder="Ad" name="name" [(ngModel)]="transferData.name">
                                            <p [class.showError] = "hasValidationError.name">{{validationMessages.name}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="transferInfoInput">
                                            <input type="text" placeholder="Soyad" name="surname" [(ngModel)]="transferData.surname">
                                            <p [class.showError] = "hasValidationError.surname">{{validationMessages.surname}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="transferInfoInput">
                                            <input type="number" placeholder="Nömrə" name="number" [(ngModel)]="transferData.phone" #phoneNumber (input)="addCountryCode(phoneNumber)">
                                            <p [class.showError] = "hasValidationError.phone">{{validationMessages.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="transferInfoInput">
                                            <input type="email" placeholder="Email" name="email" [(ngModel)]="transferData.email">
                                            <p [class.showError] = "hasValidationError.email">{{validationMessages.email}}</p>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                        <div class="transferInfoBottom">
                            <button class="transferInfoPrev" (click)="nextStep('left',carousel);becomeGrey()">GERİYƏ</button>
                            <button (click)="nextStep('right',carousel);becomeBlue2()">DAVAM ET</button>
                        </div>
                    </div>
    
                    <div class="transferCarouselItem col-12 stepFour">
                        <div class="greyBlock col-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="transferOrderInfo">
                                            <h4>Ad soyad</h4>
                                            <p>{{transferData.name}} {{transferData.surname}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="transferOrderInfo">
                                            <h4>Email</h4>
                                            <p>{{transferData.email}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="transferOrderInfo">
                                            <h4>Telefon</h4>
                                            <p>{{transferData.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="transferOrderInfo">
                                            <h4>Başlanğıc nöqtəsi</h4>
                                            <p>{{transferData.pickupLocation}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="transferOrderInfo">
                                            <h4>İstiqamət</h4>
                                            <p>{{transferData.destination}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="transferOrderInfo">
                                            <h4>Baqaj çəkisi</h4>
                                            <p>{{transferData.luggageWeight}} kq</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="transferOrderInfo">
                                            <h4>Sərnişin sayı</h4>
                                            <p>{{transferData.passengerNumber}}  nəfər</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="transferOrderInfo">
                                            <h4>Minik növü</h4>
                                            <p>{{carTypes[transferData.carTypeid]}}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="transferInfoBottom">
                            <button (click)="nextStep('right',carousel)">TƏSDİQLƏ</button>
                        </div>
                    </div>

                    <div class="transferCarouselItem col-12 stepThree">
                        <div class="row">
                            <div class="col-12">
                                <div class="orderConfirmCode">
                                    <label>*SMS vasitəsilə göndərilən 6 rəqəmli şifrəni daxil edin</label>
                                    <input type="number" placeholder="6 1 3 5 2 0" maxlength="6" #smsCode>
                                </div>
                            </div>
                        </div>
                        <div class="transferInfoBottom">
                            <button (click)="verifySmsCode(smsCode.value , carousel)">TƏSDİQLƏ</button>
                        </div>
                    </div>

                    <div class="transferCarouselItem col-12 stepThree">
                        <div class="row">

                            <div  class="col-12  success py-5" >

                                <p class="col-12 mb-5 successTitle">Transfer Sifarişi</p>
                        
                                <p class="col-12 mt-3">
                                    <img src="assets/icon/success.svg" id="successIcon">
                                </p>
                        
                                <p class="col-12 my-5 successMessage">
                                    Təbriklər! Transfer sifarişiniz uğurlu şəkildə yaradıldı.
                                    <br><br>
                        
                                    Əsas Səhifəyə Yönləndirilir !
                                </p>
                        
                               
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

