<section id="singleTour" class="mt-5">

        <div class="joinTour">
            <div class="container">
                <div class="joinTourTop">
                    <div class="returnLinks">
                        <a routerLink = "/home">Əsas səhifə</a>
                        <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                        <a routerLink = "/localTours">{{singleTour.isInternal ? 'Daxili turlar' : 'Xarici turlar'}}</a>
                        <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                        <a class="blue">{{singleTour.name}}</a>
                    </div>
                </div>
                <div class="joinTourBody">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="prevToursCarousel col-12 px-0 mx-0">
                                <div class="prevToursCarouselStage col-12 mx-0 px-0"  #carousel>
                                    <div class="prevToursCarouselItem col-12" *ngFor="let tourPhoto of singleTour.photos">
                                        <div class="tourPastpicture">
                                            <img src="http://ziqzaq.az/images/{{tourPhoto.photoURL}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="prevToursCarouselButtons">
                                    <div class="prevToursCarouselButtonLeft">
                                        <button (click)="carouselSlide('left',carousel)">
                                            <fa-icon [icon]="['fas','chevron-left']"></fa-icon>
                                        </button>
                                    </div>
                                    <div class="prevToursCarouselButtonRight">
                                        <button (click)="carouselSlide('right',carousel)">
                                            <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="tourFeatures">
                                <div class="tourFeaturesTop">
                                    <h2>{{singleTour.name}}</h2>
                                </div>
                                <div class="tourFeaturesBody">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">Qiymət:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p class="blue bold">{{singleTour.adultPrice}} AZN</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">İstiqamət:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p>{{singleTour.destination}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">Gediş:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p>{{singleTour.arrivalTime}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">Dönüş:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p>{{singleTour.departureTime}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">Toplanış:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p>{{singleTour.departureLocation}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tourFeaturesBottom">
                                    <div class="joinTourButton">
                                        <button (click)="openModal()"  [attr.disabled]="isLoggedIn ? null : true">TURA QOŞUL</button>
                                    </div>
                                    <div class="joinTourIcon">
                                        <p id="heart" (click)="makeTourFavorite(singleTour.id,$event)"> <fa-icon [icon]="['fas','heart']"></fa-icon> </p>
                                        <p id="share"> <fa-icon [icon]="['fas','share-alt']"></fa-icon> </p>
                                    </div>
                                </div>
                                <!-- <div class="errorMessage" [ngClass]="{'errorMessageShow' : showMessage}">
                                    <p>İstifadəçi kimi daxil olun</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="tourAbout">
            <div class="container">
                <div class="tourAboutTop">
                    <h2>Tur haqqında</h2>
                </div>
                <div class="tourAboutBody">
                    <p>{{singleTour.description}}</p>
                </div>
            </div>
        </div>

        <div class="tourProgram">
            <div class="container">
                <div class="tourProgramTop">
                    <h2>Turun proqramı</h2>
                </div>
                <div class="tourProgramBody">
                    <div class="row tourProgramContainer">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 tourProgramItem" *ngFor="let program of singleTour.tourPrograms">
                            <div class="tourProgramParts">
                                <div class="tourProgramBlueBall">
                                    <p></p>
                                </div>
                                <div class="tourProgramInfo">
                                    <div class="tourProgramInfoSpan">
                                        <span>{{program.name}}</span>
                                    </div>
                                    <div class="tourProgramInfoTime">
                                        <span>{{formatTourProgramData(program.startDate)}}</span>
                                    </div>
                                    <div class="tourProgramInfoPlace">
                                        <span>{{program.description}}</span>
                                    </div>
                                </div>
                                <div class="tourProgramArrow">
                                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tourOrganizer">
            <div class="tourOrganizerLeft col-lg-6 col-md-6 col-sm-12">
                <div class="tourOrganizerLeftContainer">
                    <div class="tourOrganizerLeftTop">
                        <h2>Təşkilatçı</h2>
                    </div>
                    <div class="tourOrganizerLeftLogo" routerLink="/tourAgency">
                        <img src="http://ziqzaq.az/images/{{singleTour.vendorImage}}">
                    </div>
                    <div class="tourOrganizerLeftBody">
                        <div class="tourConnection">
                            <fa-icon [icon]="['fas','phone-alt']"></fa-icon>
                            <p>{{singleTour.vendorPhone}}</p>
                        </div>
                        <div class="tourConnection">
                            <fa-icon [icon]="['fas','envelope']"></fa-icon>
                            <p>{{singleTour.vendorEmail}}</p>
                        </div>
                    </div>
                    <div class="tourOrganizerLeftBottom">
                        <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
                        <fa-icon [icon]="['fab','twitter']"></fa-icon>
                        <fa-icon [icon]="['fab','instagram']"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="tourOrganizerRight col-lg-6 col-md-6 col-sm-12 px-0">
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
            </div>
        </div>

        <div class="tourIncludes">
            <div class="container">
                <div class="tourIncludesTop">
                    <h2>Tura daxildir</h2>
                </div>
                <div class="tourIncludesBody">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let service of singleTour.tourServices">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="http://ziqzaq.az/images/{{service.icon}}">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>{{service.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tourPast">
            <div class="container">
                <div class="tourPastTop">
                    <h2>Ötən turlar</h2>
                </div>
                <div class="tourPastBody">
                    <div class="prevToursCarousel col-12 px-0 mx-0">
                        <div class="prevToursCarouselStage col-12 mx-0 px-0" #prevCarousel [style.transform]="'translateX(' + previousCarouselPosition +'%)'">
                            <div class="prevToursCarouselItem col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let tourPrevPhoto of singleTour.previousPhotos">
                                <div class="tourPastpicture">
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary zoomButton" (click)="showModal=true" data-toggle="modal" data-target="#myModal">
                                        <img src="http://ziqzaq.az/images/{{tourPrevPhoto.photoURL}}">
                                    </button>
  
                                    <div class="modal" id="myModal" [ngClass] = "{'show': showModal}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
  
                                                
                                                <div class="modal-body">
                                                    <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">&times;</button>
                                                    <img src="http://ziqzaq.az/images/{{tourPrevPhoto.photoURL}}">
                                                </div>
  
                                            </div>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tourComments" *ngIf="showAverageCommentRating">
            <div class="container">
                <div class="tourCommentsTop">
                    <p>Rəylər</p>
                    <div class="ratingStars">
                        <p>{{(tourAverageValue).toFixed(1)}}</p>
                        <fa-icon [ngClass]="{'yellowStar' : tourAverageValue > 0.5}" [icon]="['fas','star']"></fa-icon>
                        <fa-icon [ngClass]="{'yellowStar' : tourAverageValue > 1.5}" [icon]="['fas','star']"></fa-icon>
                        <fa-icon [ngClass]="{'yellowStar' : tourAverageValue > 2.5}" [icon]="['fas','star']"></fa-icon>
                        <fa-icon [ngClass]="{'yellowStar' : tourAverageValue > 3.5}" [icon]="['fas','star']"></fa-icon>
                        <fa-icon [ngClass]="{'yellowStar' : tourAverageValue > 4.5}" [icon]="['fas','star']"></fa-icon>
                    </div>
                </div>
                <div class="tourCommentsBody">
                    <div class="tourCommentsCard" *ngFor="let comment of singleTour.reviews">
                        <div class="tourCommentsCardIMG">
                            <img src="#">
                        </div>
                        <div class="tourCommentsCardText row">
                            <div class="tourCommentsCardTitle col-sm-12 col-6">
                                <h3>This is User Name</h3>
                                <p>{{formatReviewData(comment.createdDate)}}</p>
                            </div>
                            <div class="tourCommentsCardStar col-12">
                                <fa-icon [ngClass]="{'yellowStar' : comment.starValue > 0}" [icon]="['fas','star']"></fa-icon>
                                <fa-icon [ngClass]="{'yellowStar' : comment.starValue > 1}" [icon]="['fas','star']"></fa-icon>
                                <fa-icon [ngClass]="{'yellowStar' : comment.starValue > 2}" [icon]="['fas','star']"></fa-icon>
                                <fa-icon [ngClass]="{'yellowStar' : comment.starValue > 3}" [icon]="['fas','star']"></fa-icon>
                                <fa-icon [ngClass]="{'yellowStar' : comment.starValue > 4}" [icon]="['fas','star']"></fa-icon>
                            </div>
                            <div class="tourCommentsCardWrites col-sm-12 col-12">
                                <p>{{comment.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tourFeedback" [class.tourFeedbackBlock]="isLoggedIn">
            <div class="container">
                <div class="tourFeedbackTop">
                    <div class="tourFeedbackTitle">
                        <h2>Rəy bildir</h2>
                    </div>
                    <div class="ratingStars" (click)="starComment($event,starContainer)" #starContainer>
                        <p [attr.starIndex] = "1"><fa-icon [icon]="['fas','star']"></fa-icon></p>
                        <p [attr.starIndex] = "2"><fa-icon [icon]="['fas','star']"></fa-icon></p>
                        <p [attr.starIndex] = "3"><fa-icon [icon]="['fas','star']"></fa-icon></p>
                        <p [attr.starIndex] = "4"><fa-icon [icon]="['fas','star']"></fa-icon></p>
                        <p [attr.starIndex] = "5"><fa-icon [icon]="['fas','star']"></fa-icon></p>
                    </div>
                </div>
                <div class="tourFeedbackBody">
                    <p [class.errorForText] = "errorInMessage">* Boş mesaj göndərilə bilməz</p>
                    <textarea [class.errorForTextBox] = "errorInMessage" name="messageText" [(ngModel)]="commentData.text"  placeholder="Tur haqqında qeydləriniz."></textarea>
                </div>
                <div class="tourFeedbackBottom">
                    <button (click)="createComment();resetCommentData()">GÖNDƏR</button>
                </div>
            </div>
        </div>

        <section id="joinTour" [class.showModal] = "modalIsOpen">
            <div class="container">
                <div class="joinTourTopModal">
                    <h1>Tura qoşul</h1>
                    <div class="closeButton">
                        <button (click)="closeModal()"><img src="assets/img/clear.svg"></button>
                    </div>
                </div>
                <div class="joinTourBodyModal">
                    <div class="greyBlock">
                        <form (submit)="onSubmit($event)">
                            <div class="greyBlockTop">
                                <div class="tourName">
                                    <h2>{{singleTour.name}} turu</h2>
                                </div>
                                <div class="tourDate">
                                    <p>{{singleTour.departureTime}} - {{singleTour.arrivalTime}}</p>
                                </div>
                            </div>
                            <div class="greyBlockPassengerInfo">
                                <div class="passengerName">
                                    <span>{{userInfo.name}} {{userInfo.surname}}</span>
                                </div>
                                <div class="passengerTel">
                                    <span>+994{{userInfo.phoneNumber}}</span>
                                </div>
                                <div class="passengerEmail">
                                    <span>{{userInfo.email}}</span>
                                </div>
                            </div>
                            <div class="greyBlockNumberOfPassenger">
                                <div class="row passengerContainer">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemWord">
                                        <p>Böyük</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemButton">
                                        <button (click)="changeCount('adults',-1);changePrice()"><fa-icon [icon]="['fas','minus']"></fa-icon></button>
                                        <input type="number" placeholder="-" value='{{passengerCount.adults}}' name="adult" [(ngModel)]="bookingData.adults">
                                        <button (click)="changeCount('adults');changePrice()"><fa-icon [icon]="['fas','plus']"></fa-icon></button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemWord">
                                        <p>Uşaq</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemButton">
                                        <button (click)="changeCount('children',-1);changePrice()"><fa-icon [icon]="['fas','minus']"></fa-icon></button>
                                        <input type="number" placeholder="-" value='{{passengerCount.children}}' name="child" [(ngModel)]="bookingData.children">
                                        <button (click)="changeCount('children');changePrice()"><fa-icon [icon]="['fas','plus']"></fa-icon></button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemWord">
                                        <p>Körpə</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemButton">
                                        <button (click)="changeCount('infants',-1);changePrice()"><fa-icon [icon]="['fas','minus']"></fa-icon></button>
                                        <input type="number" placeholder="-" value='{{passengerCount.infants}}' name="baby" [(ngModel)]="bookingData.infants">
                                        <button (click)="changeCount('infants');changePrice()"><fa-icon [icon]="['fas','plus']"></fa-icon></button>
                                    </div>
                                </div>
                            </div>
                            <div class="greyBlockEnd">
                                <img src="assets/img/summary.png">
                                <p>Cəmi: {{sumOfPrice}} &#8380;</p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="joinTourBottom">
                    <button (click)="postBooking()" [attr.disabled]="bookingButton ? null : true">TƏSDİQLƏ</button>
                </div>
            </div>
        </section>

</section>
