<section id="singleTour">

        <div class="joinTour">
            <div class="container">
                <div class="joinTourTop">
                    <div class="returnLinks">
                        <a routerLink = "/home">Əsas səhifə</a>
                        <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                        <a routerLink = "/localTours">Daxili turlar</a>
                        <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                        <a class="blue">Amerika turu</a>
                    </div>
                </div>
                <div class="joinTourBody">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="prevToursCarousel col-12 px-0 mx-0">
                                <div class="prevToursCarouselStage col-12 mx-0 px-0"  #carousel>
                                    <div class="prevToursCarouselItem col-12" *ngFor="let tourPhoto of singleTour.photos">
                                        <div class="tourPastpicture">
                                            <img src="http://ziqzaq.az/images/{{tourPhoto.photoURL}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="prevToursCarouselButtons">
                                    <div class="prevToursCarouselButtonLeft">
                                        <button (click)="carouselSlide('left',carousel)">
                                            <fa-icon [icon]="['fas','chevron-left']"></fa-icon>
                                        </button>
                                    </div>
                                    <div class="prevToursCarouselButtonRight">
                                        <button (click)="carouselSlide('right',carousel)">
                                            <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="tourFeatures">
                                <div class="tourFeaturesTop">
                                    <h2>{{singleTour.name}}</h2>
                                </div>
                                <div class="tourFeaturesBody">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">Qiymət:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p class="blue bold">{{singleTour.adultPrice}} AZN</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">İstiqamət:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p>{{singleTour.destination}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">Gediş:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p>{{singleTour.departureTime}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">Dönüş:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p>{{singleTour.departureTime}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                            <p class="bold">Toplanış:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                            <p>{{singleTour.departureLocation}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tourFeaturesBottom">
                                    <div class="joinTourButton">
                                        <button (click)="openModal()">TURA QOŞUL</button>
                                    </div>
                                    <div class="joinTourIcon">
                                        <p id="heart" (click)="makeTourFavorite(singleTour.id,$event)"> <fa-icon [icon]="['fas','heart']"></fa-icon> </p>
                                        <p id="share"> <fa-icon [icon]="['fas','share-alt']"></fa-icon> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="tourAbout">
            <div class="container">
                <div class="tourAboutTop">
                    <h2>Tur haqqında</h2>
                </div>
                <div class="tourAboutBody">
                    <p>It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem 
                        Ipsum is that it has a more-or-less normal distribution of letters, as opposed 
                        to using 'Content here, content here', making it look like readable English. 
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as 
                        their default model text, and a search for 'lorem ipsum' will uncover many web 
                        sites still in their infancy. Various versions have evolved over the years, 
                        sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
    
                    <p>
                        It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has a more-or-less normal distribution of letters, as opposed to using
                        'Content here, content here', making it look like readable English. Many desktop 
                        publishing packages and web page editors now use Lorem Ipsum as their default model 
                        text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
                        Various versions have evolved over the years, sometimes by accident, sometimes on 
                        purpose (injected humour and the like).It is a long established fact that a reader 
                        will be distracted by the readable content of a page when looking at its layout. 
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution 
                        of letters, as opposed to using 'Content here, content here', making it look like 
                        readable English. Many desktop publishing packages and web page editors now use 
                        Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover 
                        many web sites still in their infancy. Various versions have evolved over the years, 
                        sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
                </div>
            </div>
        </div>

        <div class="tourProgram">
            <div class="container">
                <div class="tourProgramTop">
                    <h2>Turun proqramı</h2>
                </div>
                <div class="tourProgramBody">
                    <div class="row tourProgramContainer">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 tourProgramItem">
                            <div class="tourProgramParts">
                                <div class="tourProgramBlueBall">
                                    <p></p>
                                </div>
                                <div class="tourProgramInfo">
                                    <div class="tourProgramInfoSpan">
                                        <span>Yola düşmə</span>
                                    </div>
                                    <div class="tourProgramInfoTime">
                                        <span>09:00</span>
                                    </div>
                                    <div class="tourProgramInfoPlace">
                                        <span>Nizami ms</span>
                                    </div>
                                </div>
                                <div class="tourProgramArrow">
                                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 tourProgramItem">
                            <div class="tourProgramParts">
                                <div class="tourProgramBlueBall">
                                    <p></p>
                                </div>
                                <div class="tourProgramInfo">
                                    <div class="tourProgramInfoSpan">
                                        <span>Yola düşmə</span>
                                    </div>
                                    <div class="tourProgramInfoTime">
                                        <span>09:00</span>
                                    </div>
                                    <div class="tourProgramInfoPlace">
                                        <span>Nizami ms</span>
                                    </div>
                                </div>
                                <div class="tourProgramArrow">
                                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 tourProgramItem">
                            <div class="tourProgramParts">
                                <div class="tourProgramBlueBall">
                                    <p></p>
                                </div>
                                <div class="tourProgramInfo">
                                    <div class="tourProgramInfoSpan">
                                        <span>Yola düşmə</span>
                                    </div>
                                    <div class="tourProgramInfoTime">
                                        <span>09:00</span>
                                    </div>
                                    <div class="tourProgramInfoPlace">
                                        <span>Nizami ms</span>
                                    </div>
                                </div>
                                <div class="tourProgramArrow">
                                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 tourProgramItem">
                            <div class="tourProgramParts">
                                <div class="tourProgramBlueBall">
                                    <p></p>
                                </div>
                                <div class="tourProgramInfo">
                                    <div class="tourProgramInfoSpan">
                                        <span>Yola düşmə</span>
                                    </div>
                                    <div class="tourProgramInfoTime">
                                        <span>09:00</span>
                                    </div>
                                    <div class="tourProgramInfoPlace">
                                        <span>Nizami ms</span>
                                    </div>
                                </div>
                                <div class="tourProgramArrow">
                                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 tourProgramItem">
                            <div class="tourProgramParts">
                                <div class="tourProgramBlueBall">
                                    <p></p>
                                </div>
                                <div class="tourProgramInfo">
                                    <div class="tourProgramInfoSpan">
                                        <span>Yola düşmə</span>
                                    </div>
                                    <div class="tourProgramInfoTime">
                                        <span>09:00</span>
                                    </div>
                                    <div class="tourProgramInfoPlace">
                                        <span>Nizami ms</span>
                                    </div>
                                </div>
                                <div class="tourProgramArrow">
                                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 tourProgramItem">
                            <div class="tourProgramParts">
                                <div class="tourProgramBlueBall">
                                    <p></p>
                                </div>
                                <div class="tourProgramInfo">
                                    <div class="tourProgramInfoSpan">
                                        <span>Yola düşmə</span>
                                    </div>
                                    <div class="tourProgramInfoTime">
                                        <span>09:00</span>
                                    </div>
                                    <div class="tourProgramInfoPlace">
                                        <span>Nizami ms</span>
                                    </div>
                                </div>
                                <div class="tourProgramArrow">
                                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 tourProgramItem tourProgramEnd">
                            <div class="tourProgramParts">
                                <div class="tourProgramBlueBall">
                                    <p></p>
                                </div>
                                <div class="tourProgramInfo">
                                    <div class="tourProgramInfoSpan">
                                        <span>Yola düşmə</span>
                                    </div>
                                    <div class="tourProgramInfoTime">
                                        <span>09:00</span>
                                    </div>
                                    <div class="tourProgramInfoPlace">
                                        <span>Nizami ms</span>
                                    </div>
                                </div>
                                <div class="tourProgramArrow">
                                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tourOrganizer">
            <div class="tourOrganizerLeft col-lg-6 col-md-6 col-sm-12">
                <div class="tourOrganizerLeftContainer">
                    <div class="tourOrganizerLeftTop">
                        <h2>Təşkilatçı</h2>
                    </div>
                    <div class="tourOrganizerLeftLogo" routerLink="/tourAgency">
                        <img src="assets/img/goTravelLogo.png">
                    </div>
                    <div class="tourOrganizerLeftBody">
                        <div class="tourConnection">
                            <fa-icon [icon]="['fas','phone-alt']"></fa-icon>
                            <p>+994 12 345 12 14</p>
                        </div>
                        <div class="tourConnection">
                            <fa-icon [icon]="['fas','envelope']"></fa-icon>
                            <p>info@gotravel.az</p>
                        </div>
                    </div>
                    <div class="tourOrganizerLeftBottom">
                        <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
                        <fa-icon [icon]="['fab','twitter']"></fa-icon>
                        <fa-icon [icon]="['fab','instagram']"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="tourOrganizerRight col-lg-6 col-md-6 col-sm-12 px-0">
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
            </div>
        </div>

        <div class="tourIncludes">
            <div class="container">
                <div class="tourIncludesTop">
                    <h2>Tura daxildir</h2>
                </div>
                <div class="tourIncludesBody">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/ticket.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Təyyarə bileti</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/photo.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Fata çəkiliş</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/transport.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Şəhərlərarası nəqliyyat</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/lunch.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Səhər yeməyi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/video.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Video çəkiliş</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/playGame.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Oyunlar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/visa.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Visa dəstəyi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/insurance.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Sığorta</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/airplane.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Transfer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/accomodation.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Qalacaq yer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="tourIncludeItem">
                                <div class="tourIncludeItemIMG">
                                    <img src="assets/img/guide.png">
                                </div>
                                <div class="tourIncludeItemWord">
                                    <p>Bələdçi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tourPast">
            <div class="container">
                <div class="tourPastTop">
                    <h2>Ötən turlar</h2>
                </div>
                <div class="tourPastBody">
                    <div class="prevToursCarousel col-12 px-0 mx-0">
                        <div class="prevToursCarouselStage col-12 mx-0 px-0" #prevCarousel [style.transform]="'translateX(' + previousCarouselPosition +'%)'">
                            <div class="prevToursCarouselItem col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let tourPrevPhoto of singleTour.previousPhotos">
                                <div class="tourPastpicture">
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary zoomButton" (click)="showModal=true" data-toggle="modal" data-target="#myModal">
                                        <img src="http://ziqzaq.az/images/{{tourPrevPhoto.photoURL}}">
                                    </button>
  
                                    <!-- The Modal -->
                                    <div class="modal" id="myModal" [ngClass] = "{'show': showModal}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
  
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">&times;</button>
                                                    <img src="http://ziqzaq.az/images/{{tourPrevPhoto.photoURL}}">
                                                </div>
  
                                            </div>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tourComments">
            <div class="container">
                <div class="tourCommentsTop">
                    <h2>Rəylər</h2>
                    <div class="ratingPart">
                        <p>4.7</p>
                        <div class="rating-wrapper">
                            <input type="radio" name="rating" id="star-1"><label for="star-1"></label>
                            <input type="radio" name="rating" id="star-2"><label for="star-2"></label>
                            <input type="radio" name="rating" id="star-3"><label for="star-3"></label>
                            <input type="radio" name="rating" id="star-4"><label for="star-5"></label>
                            <input type="radio" name="rating" id="star-5"><label for="star-5"></label>
                        </div>
                    </div>
                </div>
                <div class="tourCommentsBody">
                    <div class="tourCommentsCard">
                        <div class="tourCommentsCardIMG">
                            <img src="#">
                        </div>
                        <div class="tourCommentsCardText row">
                            <div class="tourCommentsCardTitle col-sm-12 col-6">
                                <h3>Christina</h3>
                                <p>14 June 2017</p>
                            </div>
                            <div class="rating-wrapper">
                                <input type="radio" name="rating" id="star-1"><label for="star-1"></label>
                                <input type="radio" name="rating" id="star-2"><label for="star-2"></label>
                                <input type="radio" name="rating" id="star-3"><label for="star-3"></label>
                                <input type="radio" name="rating" id="star-4"><label for="star-5"></label>
                                <input type="radio" name="rating" id="star-5"><label for="star-5"></label>
                            </div>
                            <div class="tourCommentsCardWrites col-sm-12 col-12">
                                <p>Weasel the jeeper goodness inconsiderately spelled so</p>
                            </div>
                        </div>
                    </div>
                    <div class="tourCommentsCard">
                        <div class="tourCommentsCardIMG">
                            <img src="#">
                        </div>
                        <div class="tourCommentsCardText row">
                            <div class="tourCommentsCardTitle col-sm-12 col-6">
                                <h3>Christina</h3>
                                <p>14 June 2017</p>
                            </div>
                            <div class="rating-wrapper">
                                <input type="radio" name="rating" id="star-1"><label for="star-1"></label>
                                <input type="radio" name="rating" id="star-2"><label for="star-2"></label>
                                <input type="radio" name="rating" id="star-3"><label for="star-3"></label>
                                <input type="radio" name="rating" id="star-4"><label for="star-5"></label>
                                <input type="radio" name="rating" id="star-5"><label for="star-5"></label>
                            </div>
                            <div class="tourCommentsCardWrites col-sm-12 col-12">
                                <p>Weasel the jeeper goodness inconsiderately spelled so</p>
                            </div>
                        </div>
                    </div>
                    <div class="tourCommentsCard">
                        <div class="tourCommentsCardIMG">
                            <img src="#">
                        </div>
                        <div class="tourCommentsCardText row">
                            <div class="tourCommentsCardTitle col-sm-12 col-6">
                                <h3>Christina</h3>
                                <p>14 June 2017</p>
                            </div>
                            <div class="rating-wrapper">
                                <input type="radio" name="rating" id="star-1"><label for="star-1"></label>
                                <input type="radio" name="rating" id="star-2"><label for="star-2"></label>
                                <input type="radio" name="rating" id="star-3"><label for="star-3"></label>
                                <input type="radio" name="rating" id="star-4"><label for="star-5"></label>
                                <input type="radio" name="rating" id="star-5"><label for="star-5"></label>
                            </div>
                            <div class="tourCommentsCardWrites col-sm-12 col-12">
                                <p>Weasel the jeeper goodness inconsiderately spelled so</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tourFeedback">
            <div class="container">
                <div class="tourFeedbackTop">
                    <div class="tourFeedbackTitle">
                        <h2>Rəy bildir</h2>
                    </div>
                    <div class="rating-wrapper">
                        <input type="radio" name="rating" id="star-1" (click)="commentStar(1)"><label for="star-1"></label>
                        <input type="radio" name="rating" id="star-2" (click)="commentStar(2)"><label for="star-2"></label>
                        <input type="radio" name="rating" id="star-3" (click)="commentStar(3)"><label for="star-3"></label>
                        <input type="radio" name="rating" id="star-4" (click)="commentStar(4)"><label for="star-5"></label>
                        <input type="radio" name="rating" id="star-5" (click)="commentStar(5)"><label for="star-5"></label>
                    </div>
                </div>
                <div class="tourFeedbackBody">
                    <textarea placeholder="Tur haqqında qeydləriniz."></textarea>
                </div>
                <div class="tourFeedbackBottom">
                    <button (click)="createComment()">GÖNDƏR</button>
                </div>
            </div>
        </div>

        <section id="joinTour" [class.showModal] = "modalIsOpen">
            <div class="container">
                <div class="joinTourTopModal">
                    <h1>Tura qoşul</h1>
                    <div class="closeButton">
                        <button (click)="closeModal()"><img src="assets/img/clear.svg"></button>
                    </div>
                </div>
                <div class="joinTourBodyModal">
                    <div class="greyBlock">
                        <form (submit)="onSubmit($event)">
                            <div class="greyBlockTop">
                                <div class="tourName">
                                    <h2>Zaqatala-Balakən turu</h2>
                                </div>
                                <div class="tourDate">
                                    <p>22.06.2019 - 02.07.2019</p>
                                </div>
                            </div>
                            <div class="greyBlockPassengerInfo">
                                <div class="passengerName">
                                    <span>Natiq</span>
                                </div>
                                <div class="passengerTel">
                                    <span>+994555000550</span>
                                </div>
                                <div class="passengerEmail">
                                    <span>natiq@mail.ru</span>
                                </div>
                            </div>
                            <div class="greyBlockNumberOfPassenger">
                                <div class="row passengerContainer">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemWord">
                                        <p>Böyük</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemButton">
                                        <button (click)="changeCount('adult',-1);changePrice()"><fa-icon [icon]="['fas','minus']"></fa-icon></button>
                                        <input type="number" placeholder="2" value='{{passengerCount.adults}}' name="adult" [(ngModel)]="bookingData.adults">
                                        <button (click)="changeCount('adults');changePrice()"><fa-icon [icon]="['fas','plus']"></fa-icon></button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemWord">
                                        <p>Uşaq</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemButton">
                                        <button (click)="changeCount('child',-1);changePrice()"><fa-icon [icon]="['fas','minus']"></fa-icon></button>
                                        <input type="number" placeholder="-" value='{{passengerCount.children}}' name="child" [(ngModel)]="bookingData.children">
                                        <button (click)="changeCount('children');changePrice()"><fa-icon [icon]="['fas','plus']"></fa-icon></button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemWord">
                                        <p>Körpə</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 passengerItem passengerItemButton">
                                        <button (click)="changeCount('baby',-1);changePrice()"><fa-icon [icon]="['fas','minus']"></fa-icon></button>
                                        <input type="number" placeholder="1" value='{{passengerCount.infants}}' name="baby" [(ngModel)]="bookingData.infants">
                                        <button (click)="changeCount('infants');changePrice()"><fa-icon [icon]="['fas','plus']"></fa-icon></button>
                                    </div>
                                </div>
                            </div>
                            <div class="greyBlockEnd">
                                <img src="assets/img/summary.png">
                                <p>Cəmi: {{sumOfPrice}} &#8380;</p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="joinTourBottom">
                    <button (click)="postBooking()">TƏSDİQLƏ</button>
                </div>
            </div>
        </section>

</section>
