<section id="agencyInformation">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 agencyInfoTitle text-muted d-flex align-items-center">
                <span><img src="../../assets/icons/work.png" style="width: 30px;height: 30px;"></span>
                <h4>Agentlik məlumatları</h4>
            </div>
            <div class="col-12 py-4 agencyInfo">
                <div class="row">
                    <div class="col-md-3 col-12 imgHolder">
                        <img src="../../assets/img/AgencyLogo.png">
                    </div>
                    <div class="col-md-9 col-12 pl-5 allInfo">
                        <div class="row">
                            <div class="col-12 upperRowInfo">
                                <div class="row">
                                    <div class="col-md-2 col-12 ">
                                        <p>Ad:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <p>Email:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <p>Mobil nömrə:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <p>Şəhər nömrəsi:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 bottomRowInfo  pt-5">
                                <div class="row">
                                    <div class="col-md-2 col-12 ">
                                        <p>Ünvan:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <p>Facebook:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <p>İnstagram:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <p>Twitter:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <p>Veb sayt:</p>
                                        <p><b>GoTravel</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center pt-5">
                        <button class="btn btn-primary">DƏYİŞDİR / TƏSDİQLƏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>