<section id="userProfile">
    <div class="container pt-5 pb-5">
        <div class="row">

            <!-- Profile image -->

            <div class="col-md-2 col-sm-4 col-4 offset-4 offset-md-0 imgSide">

                <input type="file" id="userProfileAvatar" #userProfileAvatar>
                <div class="imgKeeper">
                    <!-- User image -->
                    <img src="../../assets/img/Group 219.png" alt="profile picture">
                    <!-- User image -->
                </div>
                <div class="editIcon imageEditIcon" (click)="userProfileAvatar.click()">
                    <a class="editIcon">
                        <svg-icon src="../assets/icons/Path 258.svg" [svgStyle]="{'width.px':16,
                                 'margin-right.px':'2',
                                 'position':'absolute'
                                }">
                        </svg-icon>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-12 pl-5 responsive">
                <div class="row">
                    <div class="col-12 detailValues">
                        <!-- All elements start here -->
                        <!-- Name -->
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <p>Ad:</p>
                            </div>
                            <div class="col-md-7 col-9">
                                <p>Hikmət</p>
                            </div>
                        </div>
                        <!-- Surname -->
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <p>Soyad:</p>
                            </div>
                            <div class="col-md-7 col-9">
                                <p>Musayev</p>
                            </div>
                        </div>
                        <!-- Phone number -->
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <p>Nömrə:</p>
                            </div>
                            <div class="col-md-7 col-9">
                                <p contenteditable="true">+994559355558</p>
                                <a>
                                    <svg-icon src="../assets/icons/Path 258.svg"
                                        [svgStyle]="{'width.px':16, 'margin-left.px':4}">
                                    </svg-icon>
                                </a>

                            </div>
                        </div>
                        <!-- Password -->
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <p>Şifrə:</p>
                            </div>
                            <div class="col-md-7 col-9">
                                <p>******</p>
                                <a>
                                    <svg-icon src="../assets/icons/Path 258.svg"
                                        [svgStyle]="{'width.px':16, 'margin-left.px':4}">
                                    </svg-icon>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-6 col-12 pl-5 responsive">
                <div class="row">
                    <div class="col-12 detailValues">
                        <!-- All elements start here -->
                        <!-- Birth date -->
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <p>Doğum tarixi:</p>
                            </div>
                            <div class="col-md-7 col-9">
                                <p>29/03/1992</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <p>Cins:</p>
                            </div>
                            <div class="col-md-7 col-9">
                                <p>Kişi</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <p>Email:</p>
                            </div>
                            <div class="col-md-7 col-9">
                                <p>hikmat.musayevv@gmail.com</p>
                                <a>
                                    <svg-icon src="../assets/icons/Path 258.svg"
                                        [svgStyle]="{'width.px':16, 'margin-left.px':4}">
                                    </svg-icon>
                                </a>

                            </div>
                        </div>
                        

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>